nav#nav
    // LOGO
    a#n0(href="/")
        span DEEPAK GANGWAR

    // ABOUT
    div.n1 
        a#n1-0(href="/about")
            |ABOUT
            .line
                div 
                div 
    //- div.n1 
    //-     a#n1-1(href="/")
    //-         |CLOSE
    //-         .line
    //-             div 
    //-             div
    
    // TITLE
    a#n2(href="mailto:deepakgangwar4265@gmail.com")
        div 
            .n2 
                |INDEPENDENT DEVELOPER
        div     
            .n2 
                |AVAILABLE AUG. 2022

    // LINKS
    div#n3  
        div     
            a.n3(href="mailto:deepakgangwar@4265@gmail.com") EMAIL
        div     
            a.n3(href="https://instagram.com" target="_blank" rel="noopener") INSTAGRAM
        div     
            a.n3(href="https://twitter.com" target="_blank" rel="noopener") TWITTER 
