nav#nav
    // LOGO
    a#n0(href="/")
        span DEEPAK GANGWAR

    // ABOUT
    div.n1 
        a#n1-0(href="https://deepakgangwar.me")
            |PORTFOLIO
            .line
                div 
                div 
    //- div.n1 
    //-     a#n1-1(href="/")
    //-         |CLOSE
    //-         .line
    //-             div 
    //-             div
    
    // TITLE
    a#n2(href="mailto:deepakgangwar4265@gmail.com")
        div 
            .n2 
                |FRONTEND DEVELOPER
        div     
            .n2 
                |AVAILABLE AUG. 2022

    // LINKS
    div#n3  
        div     
            a.n3(href="mailto:deepakgangwar4265@gmail.com") EMAIL
        div     
            a.n3(href="https://github.com/deepak-gangwar" target="_blank" rel="noopener") GITHUB
        div     
            a.n3(href="https://twitter.com/_DeepakGangwar" target="_blank" rel="noopener") TWITTER 
