doctype html
html(lang="en")
    head
        include ./views/partials/head
        include ./views/partials/noscript
        
    body.user-select
        main.app
            article.app__wrapper.home
                .webgl__wrapper 
                    canvas.webgl
                include ./views/partials/nav
                include ./views/partials/home

        script(src="main.js") 