// Jesper Landberg colors
// $primary-color: #0d0d0d;
// $accent-color: #ffffff;

// Aristide Benoist colors
// $primary-color: #141414;
// $accent-color: #bac4b8;

// Design Embraced colors
$primary-color: #f4d8cc;
$accent-color: #ff3a00;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
    'noscript',
    'preloader',
    'cursor',
    'navigation',
    'content',
    'cases',
    'canvas',
);